[user]
	name = Orkun Gunay
	email = orkun.gunay@sekomyazilim.com.tr

[alias]
  showtool = "!f() { git difftool $1^ $1; }; f"
  added = difftool --cached
  d  = difftool
  s  = status -uno
  c  = checkout
  cl = clone
  b  = branch
  ps = "push origin"
  pl = pull
  co = "commit -m"
  a  = "add ."

[push]
	default = matching
[core]
  editor = vim
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = /home/orkung/.gitignore_global
[web]
  browser = google-chrome
[diff]
#	tool = vimdiff
  tool = icdiff
[difftool]
	prompt = false

[merge]
	tool = vimdiff

[difftool "icdiff"]
  cmd = /usr/bin/icdiff --line-numbers $LOCAL $REMOTE

[pager]
  difftool = true

[icdiff]
            options = --highlight --line-numbers
