#sub-header {
    display: none;
}

div.header-breadcrumb {
    display: none;
}

div.col-sm-12 {
    display: none;
}

footer.footer-style2 {
    display: none;
}

#content {
    margin-left: -10%;
    background-color: #002b36;
}

div.col-sm-9.mbottom50 {
    width: 55%;
    font-family: Helvetica;
    background-color: #fafafa;
}

span span span {
    font-family: Roboto;
}

div.col-sm-9.mbottom50 p {
    font-family: Roboto;
}

p span span {
    font-family: Roboto;
}

span span a {
    font-family: Roboto;
}
