snippet t "Rst Catisi" b
=================
$1
=================

:date: `!v strftime("%c")`
:comments: true
:categories: 
:tags: 
:Author: `echo "Orkun Gunay"`


endsnippet

snippet todo "this is a todo reminder" b
#. TODO: ${1:desc} | `!v strftime("%c")`
endsnippet

